:root{
    --main-blue: #6091F1;
}

body {
    /* background-color: white; */
    background-color: transparent;
    min-height: 0px !important;
}

html{
    background-color: white;
}

.navbar {
    background-color: var(--main-blue);
    color: white;
    justify-content: center;
    height: 8vh;
    display: fixed;
}

.page-container {
    /* background-color: white; */
    margin-top: 75px;
}

/* General */

/* remove google translate banner from top of nav bar */
/* https://stackoverflow.com/questions/11248673/hiding-google-translate-bar */
.goog-te-banner-frame.skiptranslate {
  display: none !important;
  width: 0px;
  height: 0px;
} 

#menuBar{
  left: -175px;
  width: 250px;
}

#searchbar{
  position: fixed;
  right: 5%;
}

#backButton{
  position: fixed;
  left: 5%;
  bottom: 1%;
  color: white;
  background-color: var(--main-blue);
  z-index: 999;
}

#backButton:active {
  opacity: 0.8;
  transform: translateY(2px);
}

.footerButton {
    margin: 100px auto 50px;
}

.buttonIcon{ 
    vertical-align: middle;
    font-size: 20px;
}

.blueBot{
  border-bottom: 1px solid var(--main-blue);
}

.lineBreak {
    background: lightsteelblue;
}

.buttonContainer {
    display: flex;
} 

.buttonContainer > button {
    flex: 1 0 auto;
    margin: 5px 5px;
}

#profilePictureContainer {
    position: fixed;
    left: 5px;
    border-radius: 50%;
    overflow: hidden;
    height: 7vh;
    width: 7vh;
}

#profilePicture {
    height: 7vh;
    width: auto;   
    margin-left: -25%;
}

.smallNote{
  font-size: x-small; 
  text-align: center;
}

.inlineDisplay{
  display: inline;
}

.smallFont {
  font-size: small;
}

.pageJumpButton{
  position: fixed;
  bottom: 10px; 
  left: 10px;
  background-color: #2A56C6; 
  color: white;
}

/* Detail Page */

#detailPage {
    text-align: center;
}

#detailPage #eventImage {
    margin: 20px 0px;
}

#detailPage #rightArrowIcon {
    margin-left: 5px;
    margin-right: auto;
}

#detailPage #textDescription{
    margin-bottom: 50px;
    text-align: left;
    text-indent: 10vw;
}

/* Profile Page */

#profilePage {
    text-align: center;
}

#profileSettingsPage {
    text-align: center;
}

#imageContainer {
    position: relative;
}

#profileUsername {
    position: absolute;
    bottom: 17%;
    left: 10%;
    color: white;
}

@media (min-width: 450px) {

  #profileUsername{
    position: absolute;
    bottom: 17%;
    left: 10%;
    color: white;
    font-size: xx-large;
  }
}


#profileSignOutButton{
    position: absolute;
    bottom: 0%;
    right: 0%;
}

#profileImageContainer {
    position: absolute;
    top: 25%;
    left: 10%;
    border-radius: 50%;
    overflow: hidden;
    height: 17vw;
    width: 17vw;
}

#profileImage {
    height: 17vw;
    width: auto;   
    margin-left: -25%;
}

/* maintimeline */

.timelineDescriptionContainer{
  text-align: left;
  border-bottom: 1px solid var(--main-blue);
  margin-left: 40px;
}

#timelineListContainer{
  margin-left: 10vw;
}

#timelineListContainer:before {
  content: ' ';
  height: 100vh;
  width: 2px;
  background-color: var(--main-blue);
  position: fixed;
  top: 10%;
  margin-left: 1.25rem;
  z-index: -1;
}

.mainTimelineItemTitle{
  display: inline;
  padding: 5px;
  margin: 5px;
}

.mainTimelineItemTitle:hover{
  border: solid 1px var(--main-blue);
  border-radius: 8px;
}

/* timeline */

.timelineEventItemTitle:hover{
  border: solid 1px var(--main-blue);
  border-radius: 8px;
}

#zoomContainer{
  margin-top: 10px;
  height: 100%;
  padding: 0 20px;
}

#timelinePage #newEventButton {
  padding: 5px 5px;
  margin-left: 0; 
  background-color: #019AE8;
  font-size: x-small;
  color: white;
}

#timelinePage .timelineYear{
  display: inline;
}

#eventListContainer{
  margin-left: 30vw;
}

.timelineItemButton:active{
  opacity: 0.8;
  transform: translateY(2px);
}

.timelineItemButton,
.timelineItemButton:focus,
.timelineItemButton:hover{
  z-index: 0 !important;
  background-color: var(--main-blue);
  color: white;
}

#timelineToolbar{
  text-align: center;
  position: fixed;
  background-color: white;
  z-index: 1;
  max-width: 25vw;
  padding-top: 20px;
  margin-left: 10px;
  border: solid 1px var(--main-blue);
  border-radius: 5px;
}

.timelineItem{
  min-width: 16vw;
}

.bulletContainer{
  text-align: left;
  border-bottom: 1px solid var(--main-blue);
  margin-left: 40px;
}

#zoomSlider{
  transform-origin: 300px 0px;
  transform: rotate(-90deg) translate(0, -310px);
  position: absolute;
  left: 10%;
  width: 300px;
}

#zoomLevels{
  list-style-type: none;
}

#zoomLevels li{ 
  margin-bottom: 46px;
}

/* Vertical Timeline */
@media (max-width: 700px){

  #timelineToolbar{
    height: 89vh;
  }

  #eventListContainer{
    display: block;
  }
  
  .timelineItemTitle{
    display: inline;
  }

  #eventListContainer:before {
    content: " ";
    height: 100vh;
    width: 2px;
    background-color: var(--main-blue);
    position: fixed;
    top: 10%;
    margin-left: 1.25rem;
    z-index: -1;
  }

  .horizontalLine {
    display: none;
  }

  .bulletContainer{
    margin-left: 40px;
  }
}

/* Horizontal Timeline */
@media (min-width: 700px) { 

  #timelineToolbar{
    height: 87vh;
  }

  #eventListContainer{
    display: flex;
  }

  .timelineItem{
    text-align: center;
  }

  #eventListContainer:before {
    display: none;
  }

  .horizontalLine {
    border-top: solid 2px var(--main-blue);
    position: fixed;
    margin-top: 20px;
    width: 100vw;
  }

  .bulletContainer{
    margin-left: 0px;
  }
}

/* loginPage */
#loginPage .buttonContainer{
  display: flex;
  justify-content: center;
}

#loginPage .buttonContainer button{
  flex: 0 0 auto;
}

#loginPage button {
  color: var(--main-blue); 
}